/* Estilos generales */
.ueberschrift {
  color: #ffffff;
  text-align: center;
  text-shadow: rgb(255, 204, 0) 3px 0 10px;
  padding: 20px;
  margin: 20px auto 1px;
}

.introH1 {
  border: 1px solid rgba(85, 85, 85, 0.3);
  border-radius: 5px;
  box-shadow: rgb(255, 204, 0) 3px 0 10px;
  padding-top: 10px;
  max-width: 40%; 
  margin: 0 auto;
}

.carrusel {
  display: flex;
  justify-content: center;
}

/* Estilos del carrusel */
.carruselContainer {
  width: 60%;
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  display: flex; /* Utilizar flexbox para el contenedor principal */
  gap: 20px; /* Espacio entre elementos */
  padding: 2%; /* Ajustar el relleno según sea necesario */
}

.carruselContainer::-webkit-scrollbar-thumb {
  background-color: rgba(211, 176, 36, 0.699);
  border-radius: 5px;
  cursor: grab;
}

/* Estilos de los elementos del carrusel */
.gridItemContent {
  flex: 0 0 auto; /* Evitar que los elementos se expandan para ajustarse */
  width: 200px; /* Ancho fijo de cada elemento */
  background-color: rgba(85, 85, 85, 0.3);
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Cambiar dirección de la flexbox a columna */
  align-items: center; /* Alinear elementos al centro */
  border-radius: 5px;
  border: 0.5px solid rgba(211, 176, 36, 0.699);
  color: inherit !important; /* Behält die Standardfarbe des Textes bei */
  text-decoration: none !important; /* Entfernt die Unterstreichung */
}

.gridItem {
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.gridItemContent:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: rgba(211, 176, 36, 0.699) 0px 0 10px;
}

.gridContainer {
  margin: 0 auto;
  width: 80%;
  display: flex; /* Utilizar flexbox para el contenedor principal */
  flex-wrap: nowrap; /* No permitir que se envuelva en filas */
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  gap: 20px; /* Espacio entre elementos */
  padding: 1%;
  justify-content: flex-start; /* Alinear elementos a la izquierda */
}

/* Estilos de la imagen */
.gridItem img {
  height: 250px;
  border-radius: 5px;
}

/* Estilos del título */
.titleContainer {
  color: #ffffff;
  text-align: center;
  height: 50px;
}

/* Estilos de la fecha */
.releasedateContainer {
  text-align: center;
}

/* Estilos para el estado activo del elemento del carrusel */
.active {
  transform: scale(1.1);
  z-index: 2;
}

/* Für Bildschirme mit einer Breite von höchstens 576px */
@media screen and (max-width: 576px) {

  .carruselContainer {
    width: 90%;
    height: 90%;
  }
  .introH1 {
    width: 400px;
  }

  .ueberschrift {
    font-size: 20px;
  }

  .gridContainer {
    height: 300px;
    width: 300px;
  }
  .gridItemContent {
    width: 50%;
    height: 80%;
  }
  
  .gridItem img {
    height: 200px;
  }
  
  .carrusel {
    width: auto;
    height: 450px;
  }
  .titleContainer {
    height: 25px;
  }
}
