/* Styles.css */

body {
    background: #141414;
    color: #ffffff;
}

.movieapp {
    display: flex;
    padding: 20px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px ;
}

.imagecontainer {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;
}


.imagecontainer img {
    width: 100%;
    height: auto;
    transition: transform 0.2s;
    margin-right: 20px;
    margin-bottom: 20px; 
}

.imagecontainer:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.imagecontainer:hover .overlay {
    opacity: 1;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchBoxSm {
    /* Füge hier zusätzliche Stile hinzu, um das Verhalten der Suchbox auf kleineren Bildschirmen anzupassen, falls erforderlich */
}

.formControl {
    /* Füge hier die Stile für das Eingabefeld hinzu */
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formControl:focus {
    /* Füge hier die Stile für den Fokus des Eingabefelds hinzu */
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
