.FilmListeHeader {
    text-align: center;
  }
  
  .row {
    margin-bottom: 1px;
    width: 75%;
    margin: 0 auto;
  }
  
  .movieapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    min-height: 80vh;
    height: auto;
  }
  
  .movieapp h1 {
    color: #ffffff;
    text-align: center;
    text-shadow: rgba(2, 252, 210, 0.785) 0 0 10px;
    margin-bottom: 1px;
    padding: 20px;
  }
  
  .introH1 {
    border: 1px solid rgba(40, 252, 2, 0);
    box-shadow: rgba(2, 252, 210, 0.785) 0px 0 10px;
    border-radius: 5px;
    width: 40%;
    min-width: 40%;
    margin: 0 auto;
  }
  
  .searchDiv {
    margin-top: 5%;
    justify-content: center;
    text-align: center;
  }

  .formControl {
    width: 70%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
  }
  
  .formControl:focus {
    border-color: #80bdff; 
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7), 0 0 20px rgba(0, 123, 255, 0.5), 0 0 40px rgba(0, 123, 255, 0.3), 0 0 80px rgba(0, 123, 255, 0.2);
  }
  
  .title {
    padding: 0.8em;
  }
  
  .beschreibung {
    color: white;
    padding: 1%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .titleContainer {
    width: 100%;
    text-align: center;
    height: 50px;
  }
  
  .releasedateContainer {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  
  .releasedate {
    direction: rtl;
  }
  
  .gridItem {
    width: 100%;
    margin-top: 20px;
    display: flex;
  }
  
  .gridItem img {
    margin: auto;
    height: 250px;
    border-radius: 5px;
  }
  
  /* Item Container Poster/Titel/Beschreibung */
  .gridItemContent {
    width: auto;
    background-color: rgba(85, 85, 85, 0.3);
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    border: 0.5px solid rgba(2, 252, 210, 0.785);
  }

  .gridContainer a {
    color: inherit !important; /* Behält die Standardfarbe des Textes bei */
    text-decoration: none !important; /* Entfernt die Unterstreichung */
  }
  
  /* Kompletter Container Hintergrund */
  .gridContainer {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 1%;
    justify-content: space-between;
  }
  
  .gridItemContent:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.4s ease;
    box-shadow: rgba(2, 252, 210, 0.785) 0px 0 10px;
  }
  
  @media only screen and (max-width: 768px) {
    .row {
      width: 90%;
    }
  
    .movieapp {
      width: 90%;
    }
  
    .introH1 {
      width: 80%;
      min-width: 80%;
    }
  
    .searchDiv {
      margin-top: 10%;
    }
  
    .formControl {
      width: 80%;
    }
  
    .gridContainer {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .gridItem img {
      height: 180px;
    }

    .releasedate {
      font-size: 12px;
    }
    .releasedateContainer p {
      padding-top: 30px;
      text-align: center;
      width: auto;
    }

    .beschreibung {
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  