.ueberschrift {
  color: #ffffff;
  text-align: center;
  text-shadow: rgb(255, 204, 0) 3px 0 10px;
  padding: 20px;
  margin: 20px auto 1px;
}

.introH1 {
  border: 1px solid rgba(85, 85, 85, 0.3);
  border-radius: 5px;
  box-shadow: rgb(255, 204, 0) 3px 0 10px;
  padding-top: 10px;
  max-width: 40%; 
  margin: 0 auto;
}

.actortitle {
  text-align: center;
}
.carrusel {
  width: 80%; 
  margin: 0 auto; 
  padding: 0 20px; 
}

.carruselContainer {
  width: 100%;
  overflow-x: auto;
  display: flex;
  padding: 10px 0;
}

.carruselContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #ff007f, #fcb045); 
  border-radius: 5px;
  cursor: grab;
}


.gridItemContent {
  flex: 0 0 auto; 
  width: auto; 
  background-color: rgba(85, 85, 85, 0.3);
  margin-top: 20px;
  margin-right: 20px;
  flex-direction: column; 
  align-items: center; 
  border-radius: 5px;
  color: inherit !important; 
  text-decoration: none !important; 
}

.gridItem {
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.gridItemContent:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.4s ease;
  box-shadow: rgba(165, 165, 165, 0.699) 0px 0 10px;
}

.gridItem img {
  height: 250px;
  border-radius: 5px;
}

.titleContainer {
  color: #ffffff;
  text-align: center;
  height: 50px;
}

.releasedateContainer {
  text-align: center;
}

.active {
  transform: scale(1.1);
  z-index: 2;
}

/* Für Handys mit einer Breite von höchstens 480px */
@media screen and (max-width: 480px) {

  .carrusel {
    width: 90%; /* Ändern der Breite des Karussells */
  }

  .titleContainer {
    height: 20px;
  }

  .titleContainer h5 {
    margin: 0px;
  }

  .carruselContainer {
    height: auto;
    display: flex;
  }

  .gridItemContent {
    width: 40%; /* Anpassen der Breite der Grid-Elemente */
    margin-right: 0; /* Entfernen des rechten Seitenabstands der Grid-Elemente */
    display: flex;
  }
  .gridItem {
    display: flex;
    width: 100%;
  }
  .gridItem img {
    width: 100px;
    height: 150px;
  }
}
