.carousel {
  display: flex;
  justify-content: center;
}
.carouselContainer {
  width: 60%;
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  white-space: nowrap; /* Evitar el salto de línea de los elementos */
  display: flex; /* Utilizar flexbox para el contenedor principal */

  gap: 20px; /* Espacio entre elementos */
  padding: 1%; /* Ajustar el relleno según sea necesario */
}

.title {
  padding: 0.8em;
}

.ueberschrift {
  color: #ffffff;
  text-align: center;
  text-shadow: rgba(252, 85, 2, 0.785) 0px 0 10px;
  padding: 20px;
  margin-bottom: 1px;
  margin-top: 20px;
}

.introH1 {
  border: 1px solid rgba(40, 252, 2, 0);
  border-radius: 5px;
  box-shadow: rgba(252, 85, 2, 0.785) 0px 0 10px;
  padding-top: 10px;
  max-width: 40%;
}

.beschreibung {
  color: white;
  text-overflow: ellipsis;
  padding: 1%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinear elementos al centro */
}

.titleContainer {
  background-color: rgb(85, 85, 85);
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  height: 50px;
}

.releasedateContainer {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.releasedate {
  direction: rtl;
  color: var(--primary-color);
}

.gridItem {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.gridItem img {
  margin: auto;
  height: 250px;
  border-radius: 5px;
}

/* Item Container Poster/Titel/Beschreibung */
.gridItemContent {
  flex: 0 0 auto; /* Evitar que los elementos se expandan para ajustarse */
  width: 200px; /* Ancho fijo de cada elemento */
  background-color: rgb(85, 85, 85);
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Cambiar dirección de la flexbox a columna */
  align-items: center; /* Alinear elementos al centro */
  border-radius: 5px;
  border: 0.5px solid rgb(252, 156, 2);
}

/* Kompletter Container Hintergrund */
.gridContainer {
  margin: 0 auto;
  width: 80%;
  display: flex; /* Utilizar flexbox para el contenedor principal */
  flex-wrap: nowrap; /* No permitir que se envuelva en filas */
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  gap: 20px; /* Espacio entre elementos */
  padding: 1%;
  justify-content: flex-start; /* Alinear elementos a la izquierda */
}

.gridItemContent:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: rgba(40, 252, 2, 0.785) 0px 0 10px;
}
