/* Favoriten.module.css */

.ueberschrift {
  color: #ffffff;
  text-shadow: rgb(207, 15, 1) 0px 0 10px;
  text-align: center;
  padding: 20px;
  margin-bottom: 1px;
  margin-top: 20px;
}

.introH1 {
  border: 1px solid rgba(40, 252, 2, 0);
  box-shadow: rgb(207, 15, 1) 0px 0 10px;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
}

.filmeH2 {
  color: #ffffff;
  text-shadow: rgba(40, 252, 2, 0.785) 0px 0 10px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.serieH2 {
  color: #ffffff;
  text-shadow: #feb202 0px 0 10px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.container1 {
  width: 100%;
  flex-direction: column;
  height: auto;
}

.container2 {
  width: 85%;
  margin: 0 auto;

}

.gridContainer {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-top: 3%;
}

.movies,
.series {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
}


.gridItem {
  background-color: rgba(85, 85, 85, 0.3);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgba(207, 15, 1, 0.68);
  width: 200px;
  margin: 0 auto;
}

.gridItem:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: rgb(207, 15, 1) 0px 0 10px;
}

.gridItemContent {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.gridItem img {
  margin: auto;
  height: 250px;
  border-radius: 5px;
}

.u3 {
  height: 50px;
  margin-bottom: 30px;
}

.u2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.buttonF {
  padding: 10px 20px;
  background-color: #ea1527;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonF:hover {
  background-color: #780404;
}


.errorHandling {
  text-align: center;
  height: 100px;
  background-color: #470107;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.errorHandling p {
  color: turquoise;
}

.loader {
  width: 60px;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.loaderWheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loaderText {
  color: #fff;
  font-family: arial, sans-serif;
}

.loaderText:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }

  33% {
    content: 'Loading.';
  }

  67% {
    content: 'Loading..';
  }

  100% {
    content: 'Loading...';
  }
}


@media screen and (max-width: 768px) {
  .gridContainer {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .gridItemContent {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gridItem {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gridItem img {
    height: 250px;
    height: 250px;
    width: 150px;
  }

}

@media screen and (max-width: 376px) {
  .gridContainer {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .gridItemContent {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gridItem {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gridItem img {
    height: auto;
    width: 120px;
  }

  .u3 {
    height: 60px;
    margin-bottom: 30px;
  }

}