.navbar {
  background-color: var(--footer-color);
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  border: solid #383838;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  transition: color 0.3s ease;
}

.button {
  background-color: var(--footer-color);
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 1em;
  display: flex;
}

.iconText {
  margin-left: 0.5rem;
  color: var(--primary-color);
  text-decoration: none;
}

.linkTo {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.iconText:hover {
  color: var(--secondary-color);
  text-shadow: var(--secondary-color) 1px 0 5px;
  cursor: pointer;
}

.customIcon {
  color: var(--primary-color);
}



@media screen and (max-width: 868px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center; 
    align-items: center; 
  }

  .button {
    grid-column: span 1; 
    margin: 0; 
  }
}



