.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
    padding-top: 2%;
    text-align: center;
    z-index: 1;
}

.logoSize {
    width: 60%;
    animation: glow 0.9s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        filter: brightness(110%);
    }
    to {
        filter: brightness(150%);
    }
}

.container-fluid {
    display: block;
    width: 100%;
    background-color: var(--footer-color);
    color: var(--primary-color);
    text-align: center;
    position: relative;
}
