footer {
  background-color: var(--footer-color);
  color: #fff;
  flex-direction:column;
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  text-align: center;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}



nav ul li a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

li {
  display: flex;
  justify-content: space-evenly;
}
