footer {
  background-color: var(--footer-color);
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}

li {
  display: flex;
  justify-content: space-evenly;
}
