.impressum {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.Angaben {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}

.Angaben h4 {
  font-size: 1.2em;
  color: var(--secondary-color);
  font-weight: 700;
}

.Angaben p {
  color: var(--primary-color);
  font-size: 0.6em;
  font-weight: bold;
}

.angabenContent {
  background-color: red;
  display: flex;
  align-items: center;
}

.angabenContent div{
  margin-right: 30px;
  
}
.angabenContent2 p{
  
  font-size: 0.5em;
}

.titel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}
.titel h1 {
  color: #ffffff;
  text-align: center;
  text-shadow: #fc0 3px 0 10px;
}

.UnterImpressum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;

  padding: 2%;
  margin: 2%;
}
.UnterImpressum1 {
  align-content: center;
  padding: 1%;
}
